/.metadata/
# Maven
/target/
/com.aobuchow.themes.spectrum/target/
/com.aobuchow.themes.spectrum/bin/
/com.aobuchow.themes.spectrume.feature/target/
/bin/
# Eclipse Core      
/.settings/
# JDT-specific (Eclipse Java Development Tools)     
.classpath