<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/Modern_Dark.css"
            id="modern.dark.theme.id"
            label="Modern Dark">
      </theme>
   </extension>

</plugin>
