<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/Spectrum.css"
            id="spectrum.dark.theme.id"
            label="Spectrum">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            categoryId="com.aobuchow.themes.spectrum.themeCategory"
            id="com.aobuchow.themes.spectrum.font.projectExplorer"
            label="Project Explorer">
         <description>
            The font used by the Project Explorer
         </description>
      </fontDefinition>
      <themeElementCategory
            id="com.aobuchow.themes.spectrum.themeCategory"
            label="Spectrum">
      </themeElementCategory>
      <colorDefinition
            id="com.aobuchow.themes.spectrum.colorDefinition1"
            label="label">
      </colorDefinition>
      <colorDefinition
            categoryId="com.aobuchow.themes.spectrum.themeCategory"
            id="com.aobuchow.themes.spectrum.ACCENT_COLOR"
            isEditable="true"
            label="Accent Color"
            value="215,0,0">
         <description>
            The accent color used in Spectrum theme.
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="com.aobuchow.themes.spectrum.themeCategory"
            id="com.aobuchow.themes.spectrum.BASE_COLOR"
            isEditable="true"
            label="Base Color"
            value="47,47,47">
         <description>
            The base color used in Spectrum theme.
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="com.aobuchow.themes.spectrum.themeCategory"
            id="com.aobuchow.themes.spectrum.BACKGROUND_COLOR"
            isEditable="true"
            label="Background Color"
            value="23,23,27">
         <description>
            The background color used in Spectrum theme.
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="com.aobuchow.themes.spectrum.themeCategory"
            id="com.aobuchow.themes.spectrum.TAB_HOVER_COLOR"
            isEditable="true"
            label="Tab Hover Color"
            value="22,22,22">
         <description>
            The color used when an hovering on a tab in Spectrum theme.
         </description>
      </colorDefinition>
      <colorDefinition
            id="com.aobuchow.themes.spectrum.PRIMARY_FONT_COLOR"
            isEditable="false"
            label="Primary Font Color"
            value="255,255,255">
      </colorDefinition>
      <colorDefinition
            id="com.aobuchow.themes.spectrum.ACTIVE_FONT_COLOR"
            isEditable="false"
            label="Active Font Color"
            value="255,255,255">
      </colorDefinition>
      <colorDefinition
            id="com.aobuchow.themes.spectrum.INACTIVE_FONT_COLOR"
            isEditable="false"
            label="Inactive Font Color"
            value="255,255,255">
      </colorDefinition>
   </extension>

</plugin>
