<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/Spectrum.css"
            id="spectrum.theme.id"
            label="Spectrum">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            categoryId="com.aobuchow.themes.spectrum.themeCategory"
            id="com.aobuchow.themes.spectrum.font.projectExplorer"
            label="Project Explorer">
         <description>
            The font used by the Project Explorer
         </description>
      </fontDefinition>
      <themeElementCategory
            id="com.aobuchow.themes.spectrum.themeCategory"
            label="Spectrum">
      </themeElementCategory>
   </extension>

</plugin>
