<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/Spectrum.css"
            id="modern.dark.theme.id"
            label="Spectrum">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            categoryId="com.aobuchow.themes.moderndark.themeCategory"
            id="com.aobuchow.themes.moderndark.font.projectExplorer"
            label="Project Explorer">
         <description>
            The font used by the Project Explorer
         </description>
      </fontDefinition>
      <themeElementCategory
            id="com.aobuchow.themes.moderndark.themeCategory"
            label="Spectrum">
      </themeElementCategory>
      <colorDefinition
            categoryId="com.aobuchow.themes.moderndark.themeCategory"
            defaultsTo="215, 0, 0"
            id="org.eclipse.ui.workbench.PRIMARY_COLOR "
            isEditable="true"
            label="Accent Color"
            value="215, 0, 0">
         <colorValue
               value="215, 0, 0">
         </colorValue>
         <description>
            The accent color used in Spectrum theme.
         </description>
      </colorDefinition>
   </extension>

</plugin>
