<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.aobuchow.themes.spectrum.preferences.PreferencesPage"
            id="com.aobuchow.themes.spectrum.preferences.page"
            name="Spectrum Theme">
      </page>
   </extension>

</plugin>
